@{
  Layout = "_Layout";
}
@model Salon.Models.Stylist

<h3>Home</h3>
@Html.ActionLink("View Stylists", "Index", "Stylists")
<br>
@Html.ActionLink("View Clients", "Index", "Clients")
<br>
<br>
@using (Html.BeginForm("Search", "Stylists"))
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Search Stylist"/>
}
