@{
  Layout = "_Layout";
}
@model Salon.Models.Stylist

<h3>Home</h3>
@Html.ActionLink("View Stylists", "Index", "Stylists")
<br>
@Html.ActionLink("View Clients", "Index", "Clients")
<br>
<br>
@using (Html.BeginForm("Search","Stylists")) {
<input class="mdl-textfield__input" type="text" name="search" id="sample3">
<label class="mdl-textfield__label" for="sample3">Search Stylists By Name</label>
<br>
<input type="submit" name = "search" value="Search Stylist"/>
}
