@{
  Layout = "_Layout";
}
@model Salon.Models.Stylist

<h3>Eau Claire's Salon</h3>
<h4>What would you like to do today?</h4>
@Html.ActionLink("View Stylists", "Index", "Stylists")
<br>
@Html.ActionLink("View Clients", "Index", "Clients")
<br>
<br>
@using (Html.BeginForm("Search","Stylists")) {
<input class="mdl-textfield__input" type="text" name="search" id="sample3">
<label class="mdl-textfield__label" for="sample3">Search Stylists By Name</label>
<br>
<input type="submit" name = "search" value="Search Stylists"/>
}
<br>
@using (Html.BeginForm("Search","Clients")) {
<input class="mdl-textfield__input" type="text" name="search" id="sample3">
<label class="mdl-textfield__label" for="sample3">Search Clients By Name</label>
<br>
<input type="submit" name = "search" value="Search Clients"/>
}
