@{
  Layout = "_Layout";
}
<h3>Home</h3>
@Html.ActionLink("View Stylists", "Index", "Stylists")
<br>
@Html.ActionLink("View Clients", "Index", "Clients")
<br>
@Html.ActionLink("Search by Stylist's Name", "Index", "Search")
